	<div class="row-fluid">
		<ul class="nav nav-tabs">
            <li><a href="{{ url:site uri='business' }}">投资移民</a></li>
			<li><a href="{{ url:site uri='business/business_list' }}">项目资源</a></li>
			<li class="active"><a href="{{ url:site uri='business/business_cases' }}">成功案例</a></li>
			<li><a href="{{ url:site uri='business/business_news' }}">相关资讯</a></li>
			<li><a href="{{ url:site uri='business/business_form' }}">免费评估</a></li>
		</ul>
		<div class="span12 page_box">
			<h2 class="blue">Automotiv -- TAFE汽修(187)边远地区雇主担保 </h2>
			<h5>
				<i class="icon-calendar"></i> 
				07-14 2013 
				<a href="javascript:history.go(-1);" class="fright">&lt; 返回</a>
			</h5>
			<hr />
			<div  class="lh25">
				<p>锐智发挥公司在雇主资源上的<strong>量大质优的优势</strong>，最终成功前线合适的雇主，为周先生提供具有管理智能的岗位，在签证材料申请上精心组织，提供符合法律要求的完整材料，<strong>从而绕过对于工作经验的要求</strong>。同时，由于周先生自 year 11 就在澳洲学习，已经全职学习有 5 年，公司指导周先生手机和组织相关文件材料。 <strong>RCB 在 5 月底或批，187 永居签证于前天也顺利获批！</strong></p>
                <p>{{ theme:image file="temp_success_case.png" }}</p>
			</div>
			<p>&nbsp;</p><p><a href="javascript:history.go(-1);">&lt; 返回</a></p><br class="clearall" />
		</div>
	</div>
