	<div class="row-fluid">
		<ul class="nav nav-tabs">
            <li><a href="{{ url:site uri='business' }}">投资移民</a></li>
			<li class="active"><a href="{{ url:site uri='business/business_list' }}">项目资源</a></li>
			<li><a href="{{ url:site uri='business/business_cases' }}">成功案例</a></li>
			<li><a href="{{ url:site uri='business/business_news' }}">相关资讯</a></li>
			<li><a href="{{ url:site uri='business/business_form' }}">免费评估</a></li>
		</ul>
		<br />
		<div class="span12 page_box home_bis">
			<div class="span4">
				<img src="http://www.rscg.com.au/images/com_jea/images/16/secondary/1.jpg" width="300" height="225" />
                <a href="{{ url:site uri='business/business_list_detail' }}">炸鸡炸鱼薯店 <i class="icon-plus"></i></a>
				<p>
					生意价格：$500k ~ $1M+<br />
					投资回报：$1,500 ~ $3,000+每周<br />
					专家点评：适用于合作投资，可复制性强，如有机会购置酒店地产，长期会有较大资产升值。
				</p>
			</div>
			<div class="span4">
				<img src="http://www.rscg.com.au/images/com_jea/images/16/secondary/1.jpg" width="300" height="225" />
				<a href="{{ url:site uri='business/business_list_detail' }}">炸鸡炸鱼薯店 <i class="icon-plus"></i></a>
				<p>
					生意价格：$500k ~ $1M+<br />
					投资回报：$1,500 ~ $3,000+每周<br />
					专家点评：适用于合作投资，可复制性强，如有机会购置酒店地产，长期会有较大资产升值。
				</p>
			</div>
			<div class="span4">
				<img src="http://www.rscg.com.au/images/com_jea/images/16/secondary/1.jpg" width="300" height="225" />
				<a href="{{ url:site uri='business/business_list_detail' }}">炸鸡炸鱼薯店 <i class="icon-plus"></i></a>
				<p>
					生意价格：$500k ~ $1M+<br />
					投资回报：$1,500 ~ $3,000+每周<br />
					专家点评：适用于合作投资，可复制性强，如有机会购置酒店地产，长期会有较大资产升值。
				</p>
			</div>
		</div>
		<div class="span12 page_box home_bis">
			<div class="span4">
				<img src="http://www.rscg.com.au/images/com_jea/images/16/secondary/1.jpg" width="300" height="225" />
				<a href="{{ url:site uri='business/business_list_detail' }}">炸鸡炸鱼薯店 <i class="icon-plus"></i></a>
				<p>
					生意价格：$500k ~ $1M+<br />
					投资回报：$1,500 ~ $3,000+每周<br />
					专家点评：适用于合作投资，可复制性强，如有机会购置酒店地产，长期会有较大资产升值。
				</p>
			</div>
			<div class="span4">
				<img src="http://www.rscg.com.au/images/com_jea/images/16/secondary/1.jpg" width="300" height="225" />
				<a href="{{ url:site uri='business/business_list_detail' }}">炸鸡炸鱼薯店 <i class="icon-plus"></i></a>
				<p>
					生意价格：$500k ~ $1M+<br />
					投资回报：$1,500 ~ $3,000+每周<br />
					专家点评：适用于合作投资，可复制性强，如有机会购置酒店地产，长期会有较大资产升值。
				</p>
			</div>
			<div class="span4">
				<img src="http://www.rscg.com.au/images/com_jea/images/16/secondary/1.jpg" width="300" height="225" />
				<a href="{{ url:site uri='business/business_list_detail' }}">炸鸡炸鱼薯店 <i class="icon-plus"></i></a>
				<p>
					生意价格：$500k ~ $1M+<br />
					投资回报：$1,500 ~ $3,000+每周<br />
					专家点评：适用于合作投资，可复制性强，如有机会购置酒店地产，长期会有较大资产升值。
				</p>
			</div>
		</div>
		<div class="span12 page_box">
			<div class="pagination fright pr20">
				<ul>
					<li><a href="#">Prev</a></li>
					<li><a href="#">1</a></li>
					<li class="active"><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#">Next</a></li>
				</ul>
			</div>
			<br class="clearall" />
		</div>
	</div>
