	<div class="row-fluid">
		<ul class="nav nav-tabs">
            <li><a href="{{ url:site uri='business' }}">投资移民</a></li>
			<li><a href="{{ url:site uri='business/business_list' }}">项目资源</a></li>
			<li><a href="{{ url:site uri='business/business_cases' }}">成功案例</a></li>
			<li class="active"><a href="{{ url:site uri='business/business_news' }}">相关资讯</a></li>
			<li><a href="{{ url:site uri='business/business_form' }}">免费评估</a></li>
		</ul>
		<div class="span12 page_box">
			<ul class="newslist">
				<li>
                    <a href="{{ url:site uri='business/business_news_detail' }}">
						165投资移民签证申请条件新动向
						<span class="fright"><i class="icon-calendar"></i> 07-14 2013</span>
					</a>
				</li>
				<li>
					<a href="{{ url:site uri='business/business_news_detail' }}">
						165投资移民签证申请条件新动向
						<span class="fright"><i class="icon-calendar"></i> 07-14 2013</span>
					</a>
				</li>
				<li>
					<a href="{{ url:site uri='business/business_news_detail' }}">
						165投资移民签证申请条件新动向
						<span class="fright"><i class="icon-calendar"></i> 07-14 2013</span>
					</a>
				</li>
				<li>
					<a href="{{ url:site uri='business/business_news_detail' }}">
						165投资移民签证申请条件新动向
						<span class="fright"><i class="icon-calendar"></i> 07-14 2013</span>
					</a>
				</li>
			</ul>
			<div class="pagination fright">
				<ul>
					<li><a href="#">Prev</a></li>
					<li><a href="#">1</a></li>
					<li class="active"><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#">Next</a></li>
				</ul>
			</div>
			<br class="clearall" />
		</div>
	</div>
