	<div class="row-fluid">
		<ul class="nav nav-tabs">
            <li><a href="{{ url:site uri='business' }}">投资移民</a></li>
			<li class="active"><a href="{{ url:site uri='business/business_list' }}">项目资源</a></li>
			<li><a href="{{ url:site uri='business/business_cases' }}">成功案例</a></li>
			<li><a href="{{ url:site uri='business/business_news' }}">相关资讯</a></li>
			<li><a href="{{ url:site uri='business/business_form' }}">免费评估</a></li>
		</ul>
		<div class="span12 page_box">
			<h2 class="blue">炸鸡炸鱼薯店</h2>
			<h5>
				<i class="icon-calendar"></i> 
				07-14 2013 
				<a href="javascript:history.go(-1);" class="fright">&lt; 返回</a>
			</h5>
			<hr />
		</div>
		<div class="span12">
			<!-- 左边图片-->
			<div class="span6">
				<div class="home_cell bus_pic_show">
					<a class="fancybox-thumbs" href="http://www.rscg.com.au/images/com_jea/images/16/secondary/1.jpg" data-fancybox-group="thumb" title=""><img src="http://www.rscg.com.au/images/com_jea/images/16/secondary/1.jpg" alt="" /></a>
					<a class="fancybox-thumbs" href="http://www.rscg.com.au/images/com_jea/images/17/secondary/1.jpg" data-fancybox-group="thumb" title=""><img src="http://www.rscg.com.au/images/com_jea/images/17/secondary/1.jpg" alt="" /></a>
					<a class="fancybox-thumbs" href="http://www.rscg.com.au/images/com_jea/images/18/secondary/1.jpg" data-fancybox-group="thumb" title=""><img src="http://www.rscg.com.au/images/com_jea/images/18/secondary/1.jpg" alt="" /></a>
					<a class="fancybox-thumbs" href="http://www.rscg.com.au/images/com_jea/images/21/secondary/1.jpg" data-fancybox-group="thumb" title=""><img src="http://www.rscg.com.au/images/com_jea/images/21/secondary/1.jpg" alt="" /></a>
					<a class="fancybox-thumbs" href="http://www.rscg.com.au/images/com_jea/images/22/secondary/11.jpg" data-fancybox-group="thumb" title=""><img src="http://www.rscg.com.au/images/com_jea/images/22/secondary/11.jpg" alt="" /></a>
				</div>
			</div>
			<!--#end 左边图片-->
			<!--右边介绍-->
			<div class="span6">
				<div class="home_cell">
					<h5 class="blue">生意价格：$500k ~ $1M+</h5>
					<h5 class="blue">投资回报：$1,500 ~ $3,000+每周</h5>
					<p>
						· 环境优雅，利润丰厚 <br />
						· 稳定客源，复制性强 <br />
						· 容易管理，稳定回报 <br />
 
						<br />
						专家点评：适用于合作投资，可复制性强，如有机会购置酒店地产，长期会有较大资产升值。
					</p>
				</div>
			</div>
			<!--#end 右边介绍-->
		</div>
		<div class="span12 page_box" id="show_map">
			<div id="google_map"></div>
			<div class="info">
				<p>
					<strong>Address: </strong>Sult 1, Level 7, 167 Queen Street, Melbourne 3000 Vic<br />
					<strong>PHONE: </strong> +61 3 9939 4198 / 9077 5198<br />
					<strong>FAX: </strong> +61 3 9073 5894<br />
					<strong>Email: </strong> info@rscg.com.au<br />
					<strong>Contact: </strong> Lee Zhou<br />
				</p>
			</div>
		</div>
	</div>
