	<div class="row-fluid">
		<ul class="nav nav-tabs">
            <li><a href="{{ url:site uri='work' }}">雇主移民</a></li>
			<li class="active"><a href="{{ url:site uri='work/work_list' }}">雇主资源</a></li>
			<li><a href="{{ url:site uri='work/work_cases' }}">成功案例</a></li>
			<li><a href="{{ url:site uri='work/work_news' }}">相关资讯</a></li>
			<li><a href="{{ url:site uri='work/work_form' }}">免费评估</a></li>
		</ul>
		<div class="span12 page_box">
			<h2 class="blue">墨尔本市内房地产建筑公司招聘人事部经理 </h2>
			<h5>
				<i class="icon-calendar"></i> 
				07-14 2013 
				<a href="javascript:history.go(-1);" class="fright">&lt; 返回</a>
			</h5>
			<hr />
			<ul class="job">
				<li><span>岗位名称: </span> 室内装潢设计师</li>
				<li><span>公司类别: </span> Marketing/ IT/ Commerce</li>
				<li><span>工作地点: </span> 市区（SYD)</li>
				<li><span>生意规模: </span> 西人大型上市公司-子公司</li>
				<li><span>担保名额: </span> 1 - 2 名</li>
				<li><span>其他备注: </span> 雇主：有工作经验要求；PR: 需通过PR职业评估/2年全职境内工作经验</li>
				<li><span>其他：</span> 这里的字段及值，后台可以动态增减</li>
			</ul>
			
			<p>&nbsp;</p><p><button class="btn btn-info" type="button">在线申请</button></p><br class="clearall" />
		</div>
	</div>
