	<div class="row-fluid">
		<ul class="nav nav-tabs">
            <li><a href="{{ url:site uri='work' }}">雇主移民</a></li>
			<li class="active"><a href="{{ url:site uri='work/work_list' }}">雇主资源</a></li>
			<li><a href="{{ url:site uri='work/work_cases' }}">成功案例</a></li>
			<li><a href="{{ url:site uri='work/work_news' }}">相关资讯</a></li>
			<li><a href="{{ url:site uri='work/work_form' }}">免费评估</a></li>
		</ul>
		<div class="span12 page_box">
			<div class="span4 home_job mb20">
				<div class="job_box mt10">
					<ul class="job">
						<li><span>岗位名称: </span> 室内装潢设计师</li>
						<li><span>公司类别: </span> Marketing/ IT/ Commerce</li>
						<li><span>工作地点: </span> 市区（SYD)</li>
						<li><span>生意规模: </span> 西人大型上市公司-子公司</li>
						<li><span>担保名额: </span> 1 - 2 名</li>
						<li><span>其他备注：</span> 雇主：有工作经验要求；PR: 需通过PR职业评估/2年全职境内工作经验</li>
					</ul>
				</div>
				<div class="job_list_action">
					<a class="btn btn-small btn-info" href="#">在线申请</a>
					&nbsp;&nbsp;
                    <a class="btn btn-small btn-primary" href="{{ url:site uri='work/work_list_detail' }}">查看详情</a>
				</div>
			</div>
			<div class="span4 home_job mb20">
				<div class="job_box mt10">
					<ul class="job">
						<li><span>岗位名称: </span> 室内装潢设计师</li>
						<li><span>公司类别: </span> Marketing/ IT/ Commerce</li>
						<li><span>工作地点: </span> 市区（SYD)</li>
						<li><span>生意规模: </span> 西人大型上市公司-子公司</li>
						<li><span>担保名额: </span> 1 - 2 名</li>
						<li><span>其他备注：</span> 雇主：有工作经验要求；PR: 需通过PR职业评估/2年全职境内工作经验</li>
					</ul>
				</div>
				<div class="job_list_action">
					<a class="btn btn-small btn-info" href="#">在线申请</a>
					&nbsp;&nbsp;
					<a class="btn btn-small btn-primary" href="{{ url:site uri='work/work_list_detail' }}">查看详情</a>
				</div>
			</div>
			<div class="span4 home_job mb20">
				<div class="job_box mt10">
					<ul class="job">
						<li><span>岗位名称: </span> 室内装潢设计师</li>
						<li><span>公司类别: </span> Marketing/ IT/ Commerce</li>
						<li><span>工作地点: </span> 市区（SYD)</li>
						<li><span>生意规模: </span> 西人大型上市公司-子公司</li>
						<li><span>担保名额: </span> 1 - 2 名</li>
						<li><span>其他备注：</span> 雇主：有工作经验要求；PR: 需通过PR职业评估/2年全职境内工作经验</li>
					</ul>
				</div>
				<div class="job_list_action">
					<a class="btn btn-small btn-info" href="#">在线申请</a>
					&nbsp;&nbsp;
					<a class="btn btn-small btn-primary" href="{{ url:site uri='work/work_list_detail' }}">查看详情</a>
				</div>
			</div>
		</div>
		<div class="span12 page_box">
			<div class="pagination fright">
				<ul>
					<li><a href="#">Prev</a></li>
					<li><a href="#">1</a></li>
					<li class="active"><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#">Next</a></li>
				</ul>
			</div>
			<br class="clearall" />
		</div>
	</div>
