	<div class="row-fluid">
		<ul class="nav nav-tabs">
            <li class="active"><a href="{{ url:site uri='work' }}">雇主移民</a></li>
			<li><a href="{{ url:site uri='work/work_list' }}">雇主资源</a></li>
			<li><a href="{{ url:site uri='work/work_cases' }}">成功案例</a></li>
			<li><a href="{{ url:site uri='work/work_news' }}">相关资讯</a></li>
			<li><a href="{{ url:site uri='work/work_form' }}">免费评估</a></li>
		</ul>
		<div class="span12">
			<div class="span6">
				<div class="home_cell">
					<h3 class="blue">雇主移民</h3>
					<p>2012年3月9号澳大利亚移民局发布了澳洲雇主担保移民的最新政策，并在7月1日后开始实施，此次改革是近年来澳大利亚雇主担保移民政策中变化最 大一次。新政策取消了现行的在澳洲境内和澳洲境外申请的区别；将申请人的年龄上限提高至50岁；提高了签证申请人英语水平的条件（雅思要求每一项6分）。</p>
					<p>这次的变化提高了对申请人英语语言的要求，但同时也放宽了申请人年龄的门槛。对于这些变化，本司已早有预测，政策的最终出台可谓“尘埃落定“。对于长期关 注移民政策变化的人士而言，此次的变革也并非突如其来， 变化之大虽在意料之外，但也是情理之中，可以”欣然接受“。</p>
					<br />
				</div>
			</div>
			<div class="span6">
					<h3 class="blue">&nbsp;</h3>
					<img src="http://image.liuxue360.com/2011/05/23/20110523115013738_s.jpg" class="picinfo" />
			</div>
			<br class="clearall" /><br />
		</div>
		<div class="span12 page_box">
			<div class="accordion" id="joinUsAccordion">
				<!--一个记录-->
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#joinUsAccordion" href="#joinUs_1">雇主担保移民 186 签证
							<span class="fright"><i class="icon-chevron-right"></i></span>
						</a>
					</div>
					<div id="joinUs_1" class="accordion-body collapse">
						<div class="accordion-inner lh25">
							澳洲雇主担保移民186签证(原121)属于澳洲雇主担保技术移民项目，通常被称作雇主担保移民，或雇主提名移民。申请所在城市均为澳洲一线城市，无需财务审计、面试<br />
							<br />
							• 大学本科以上学历<br />
							• 年龄50周岁以下<br />
							• 雅思每项6分<br />
							• 从事专业工作3年以上<br />
							• 通过职业评估<br />
							<br />
							签证申请范围：<br />

							申请所在城市均为澳洲一线城市，包括悉尼（Sydney）、墨尔本（Melbourne）、布里斯班（Brisbane）、黄金海岸（Gold Coast）、纽卡斯尔（Newcastle） 、卧龙岗（Wollongong）。
						</div>
					</div>
				</div>
				<!--#end 一个记录-->
				<!--一个记录-->
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#joinUsAccordion" href="#joinUs_2">雇主担保移民 187 签证
							<span class="fright"><i class="icon-chevron-right"></i></span>
						</a>
					</div>
					<div id="joinUs_2" class="accordion-body collapse">
						<div class="accordion-inner lh25">
							澳洲187签证(原119)属于澳洲雇主担保技术移民项目，也称作雇主担保移民。申请所在城市均为澳洲二线城市，包括除去6个一线城市以外的所有城市。无需财务审计、面试。<br />
							<br />
							• 大学专科以上学历<br />
							• 年龄50周岁以下<br />
							• 雅思每项6分<br />
							• 从事专业工作3年以上<br />
							<br />
							签证申请范围：<br />

							申请所在城市为澳洲的二线城市，包括除去6个一线城市（悉尼、墨尔本、布里斯班、黄金海岸、纽卡斯尔、卧龙岗）以外的所有城市。
						</div>
					</div>
				</div>
				<!--#end 一个记录-->
			</div>
		</div>
	</div>
