	<div class="row-fluid">
		<!--头部banner-->
		<div id="myCarousel" class="carousel slide">
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
			</ol>
			<div class="carousel-inner">
				<div class="active item">{{ theme:image file="home_banner_1.jpg" }}</div>
				<div class="item">{{ theme:image file="home_banner_2.jpg" }}</div>
			</div>
			<div class="home_top_banner_msg">
				<h3>锐智，澳洲移民专家</h3>
				<p>锐智移民及生意代理集团，是由移民留学及生意买卖两大板块所组成，为一家综合类资源服务型公司。</p>
				<p>公司致力于，对澳州境内外华商及海外留学生，提供最优质的投资，移民，留学等专业服务。</p>
			</div>
		</div>
		<!--#end 头部banner-->
		<h1 class="home_title">选择锐智 · 选择专业、省时、高效</h1>
		
		<div class="span12">
			<!--每日新职位-->
			<div class="span6">
				<div class="home_cell home_job">
					<h3 class="blue">{{ theme:image file="job.png" width="40" }}</h3>
					<div class="home_job_detail">
						<a href="javascript:void(0)">{{ theme:image file="cut.png" class="cut" data-href="work/work_list_detail" }}</a>
						<div class="job_box">
							<ul class="job">
								<li><span>岗位名称: </span> 室内装潢设计师</li>
								<li><span>公司类别: </span> Marketing/ IT/ Commerce</li>
								<li><span>工作地点: </span> 市区（SYD)</li>
								<li><span>生意规模: </span> 西人大型上市公司-子公司</li>
								<li><span>担保名额: </span> 1 - 2 名</li>
								<li><span>其他备注: </span> 雇主：有工作经验要求；PR: 需通过PR职业评估/2年全职境内工作经验</li>
							</ul>
						</div>
					</div>
                    <p><strong>雇主担保，工作移民澳洲！</strong><a href="{{ url:site uri='work/work_list' }}" class="more">更多工作职位 »</a></p>
				</div>
			</div>
			<!--#end 每日新职位-->
			<!-- 微博-->
			<div class="span6">
				<div class="home_cell">
					<h3 class="blue">{{ theme:image file="chat_weibo.png" width="40" }} 微博动态</h3>
					<blockquote>
							<p><span class="blue">两天前</span> 全球知名化妆品牌Lancôme兰蔻，盛邀CBC游艇荟会员齐聚其位于墨尔本品牌专柜，一起感受兰蔻顶级黑玫瑰与巴卡拉黑水晶碰撞出来奇迹－黑晶珍藏版兰蔻黑金臻宠面霜（Absolue L'Extrait Black Crystal Light Edition)。CBC带你揭开全澳限量25瓶，售价高达1500澳币顶级面霜的神秘面纱。<a href="http://weibo.com/rscg" class="blue" target="_blank">http://weibo.com/rscg</a></p>
							<p><a href="http://weibo.com/rscg" target="_blank" class="more">关注新浪微博 »</a></p>
					</blockquote>
				</div>
			</div>
			<!--#end 微博-->
		</div>
		
		<br class="clearall" />
		<h3 class="blue home_bis_title"><i class="icon-money"></i> 最新生意资源<hr /></h3>
		<div class="span12 home_bis">
			<!--最新生意资源-->
            <div class="span4">
				<img src="http://www.rscg.com.au/images/com_jea/images/16/secondary/1.jpg" width="300" height="225" />
				<a href="{{ url:site uri='business/business_list_detail' }}">炸鸡炸鱼薯店 <i class="icon-plus"></i></a>
				<p>
					生意价格：$500k ~ $1M+<br />
					投资回报：$1,500 ~ $3,000+每周<br />
					专家点评：适用于合作投资，可复制性强，如有机会购置酒店地产，长期会有较大资产升值。
				</p>
			</div>
			<div class="span4">
				<img src="http://www.rscg.com.au/images/com_jea/images/16/secondary/1.jpg" width="300" height="225" />
				<a href="{{ url:site uri='business/business_list_detail' }}">炸鸡炸鱼薯店 <i class="icon-plus"></i></a>
				<p>
					生意价格：$500k ~ $1M+<br />
					投资回报：$1,500 ~ $3,000+每周<br />
					专家点评：适用于合作投资，可复制性强，如有机会购置酒店地产，长期会有较大资产升值。
				</p>
			</div>
			<div class="span4">
				<img src="http://www.rscg.com.au/images/com_jea/images/16/secondary/1.jpg" width="300" height="225" />
				<a href="{{ url:site uri='business/business_list_detail' }}">炸鸡炸鱼薯店 <i class="icon-plus"></i></a>
				<p>
					生意价格：$500k ~ $1M+<br />
					投资回报：$1,500 ~ $3,000+每周<br />
					专家点评：适用于合作投资，可复制性强，如有机会购置酒店地产，长期会有较大资产升值。
				</p>
			</div>
			<!--#end 最新生意资源-->
		</div>
    </div>
