	<div class="row-fluid">
		<ul class="nav nav-tabs">
			<li><a href="{{ url:site uri='rscg' }}">企业介绍</a></li>
			<li class="active"><a href="{{ url:site uri='rscg/rscg_life'}}">锐智生活</a></li>
			<li><a href="{{ url:site uri='rscg/rscg_join'}}">加入锐智</a></li>
		</ul>
		<div class="span12">
			<!--企业介绍-->
			<div class="span6">
				<div class="home_cell">
					<h3 class="blue">锐智生活</h3>
					<p>{{ settings:rscg_life }}</p>
				</div>
			</div>
			<!--#end 企业介绍-->
			<!-- 右边图片-->
			<div class="span6">
				<div class="home_cell">
					<h3 class="blue">&nbsp;</h3>
					{{ theme:image file="about_2.jpg"  }}
				</div>
			</div>
			<!--#end 右边图片-->
		</div>
	</div>
