	<div class="row-fluid">
		<ul class="nav nav-tabs">
            <li><a href="{{ url:site uri='family' }}">家庭移民</a></li>
			<li><a href="{{ url:site uri='family/family_cases' }}">成功案例</a></li>
			<li><a href="{{ url:site uri='family/family_news' }}">相关资讯</a></li>
			<li class="active"><a href="{{ url:site uri='family/family_form' }}">免费评估</a></li>
		</ul>
		<div class="span12 page_box">
			<iframe height="1587" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"  src="https://rscg.wufoo.com/embed/m7x3a7/"><a href="https://rscg.wufoo.com/forms/m7x3a7/">Fill out my Wufoo form!</a></iframe>
		</div>
	</div>
