	<div class="row-fluid">
		<ul class="nav nav-tabs">
            <li><a href="{{ url:site uri='other' }}">其他移民</a></li>
			<li class="active"><a href="{{ url:site uri='other/other_cases' }}">成功案例</a></li>
			<li><a href="{{ url:site uri='other/other_news' }}">相关资讯</a></li>
			<li><a href="{{ url:site uri='other/other_form' }}">免费评估</a></li>
		</ul>
		<!--一个成功案例-->
		<div class="span12 page_box">
			<div class="success_case_box">
				<div class="span3">
					<a class="fancybox" href="{{ asset:image_url file='theme::temp_success_case.png' }}" title="">{{ theme:image file="temp_success_case.png" }}</a>
				</div>
			<div class="span9">
				<h4 class="blue">Automotiv -- TAFE汽修(187)边远地区雇主担保</h4>
				<hr />
				<p>锐智发挥公司在雇主资源上的<strong>量大质优的优势</strong>，最终成功前线合适的雇主，为周先生提供具有管理智能的岗位，在签证材料申请上精心组织，提供符合法律要求的完整材料，<strong>从而绕过对于工作经验的要求</strong>。同时，由于周先生自 year 11 就在澳洲学习，已经全职学习有 5 年，公司指导周先生手机和组织相关文件材料。 <strong>RCB 在 5 月底或批，187 永居签证于前天也顺利获批！</strong></p>
				<p class="tright"><a class="btn btn-small btn-primary" href="{{ url:site uri='other/other_cases_detail' }}">查看详情</a></p>
			</div>
			<br class="clearall" />
			</div>
		</div>
		<!--#end 成功案例-->
		<!--一个成功案例-->
		<div class="span12 page_box">
			<div class="success_case_box">
				<div class="span3">
					<a class="fancybox" href="{{ asset:image_url file='theme::temp_success_case.png' }}" title="">{{ theme:image file="temp_success_case.png" }}</a>
				</div>
			<div class="span9">
				<h4 class="blue">Automotiv -- TAFE汽修(187)边远地区雇主担保</h4>
				<hr />
				<p>锐智发挥公司在雇主资源上的<strong>量大质优的优势</strong>，最终成功前线合适的雇主，为周先生提供具有管理智能的岗位，在签证材料申请上精心组织，提供符合法律要求的完整材料，<strong>从而绕过对于工作经验的要求</strong>。同时，由于周先生自 year 11 就在澳洲学习，已经全职学习有 5 年，公司指导周先生手机和组织相关文件材料。 <strong>RCB 在 5 月底或批，187 永居签证于前天也顺利获批！</strong></p>
				<p class="tright"><a class="btn btn-small btn-primary" href="{{ url:site uri='other/other_cases_detail' }}">查看详情</a></p>
			</div>
			<br class="clearall" />
			</div>
		</div>
		<!--#end 成功案例-->
		<div class="span12 page_box">
			<div class="pagination fright">
				<ul>
					<li><a href="#">Prev</a></li>
					<li><a href="#">1</a></li>
					<li class="active"><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#">Next</a></li>
				</ul>
			</div>
			<br class="clearall" />
		</div>
	</div>
