	<div class="row-fluid">
		<ul class="nav nav-tabs">
            <li><a href="{{ url:site uri='skill' }}">技术移民</a></li>
			<li><a href="{{ url:site uri='skill/skill_cases' }}">成功案例</a></li>
			<li><a href="{{ url:site uri='skill/skill_news' }}">相关资讯</a></li>
			<li class="active"><a href="{{ url:site uri='skill/skill_form' }}">免费评估</a></li>
		</ul>
		<div class="span12 page_box">
			<iframe height="2621" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"  src="https://rscg.wufoo.com/embed/z7x3z3/"><a href="https://rscg.wufoo.com/forms/z7x3z3/">Fill out my Wufoo form!</a></iframe>
		</div>
	</div>
