	<div class="row-fluid">
		<ul class="nav nav-tabs">
            <li class="active"><a href="{{ url:site uri='skill' }}">技术移民</a></li>
			<li><a href="{{ url:site uri='skill/skill_cases' }}">成功案例</a></li>
			<li><a href="{{ url:site uri='skill/skill_news' }}">相关资讯</a></li>
			<li><a href="{{ url:site uri='skill/skill_form' }}">免费评估</a></li>
		</ul>
		<div class="span12">
			<div class="span6">
				<div class="home_cell">
					<h3 class="blue">技术移民</h3>
					<p>澳洲技术移民需要对申请人的职业、年龄、雅思及学历等方面进行综合评分，分为189、190、489、476等几类移民。</p>
					<p>6月15日，澳洲移民局官网上公布了新政（从2012年7月1日起执 行），有个特大喜讯是：通过SkillSelect 递交EOI的澳大利亚技术移民，通过分数线从65分破天荒地降低到了60分。这也就是说：现在申请不再需要考出4个雅思7分，就可以递交移民申请了，过 去，有一些申请者，因为差5分，就被拦在了移民之外。降低5分，会有更多的人可以移民，也必将鼓励更多的想通过技术移民的人注册EOI.</p>
					<br />
				</div>
			</div>
			<div class="span6">
					<h3 class="blue">&nbsp;</h3>
					<img src="http://a2.att.hudong.com/60/97/19300001119683133362979643186.jpg" class="picinfo" />
			</div>
			<br class="clearall" /><br />
		</div>
		<div class="span12 page_box">
			<div class="accordion" id="joinUsAccordion">
				<!--一个记录-->
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#joinUsAccordion" href="#joinUs_1">189 类技术移民
							<span class="fright"><i class="icon-chevron-right"></i></span>
						</a>
					</div>
					<div id="joinUs_1" class="accordion-body collapse">
						<div class="accordion-inner lh25">
							1.职业在职业清单上，并通过职业评估；<br />
							2.过去2年要有1年的工作经验（或在澳洲学习2年以上，在半年内递交可以豁免工作经验）；<br />
							3.IELTS每门6分；<br />
							4.年龄在50岁以下；<br />
							5.中专/职高以上学历。<br />
							6.评分达到60分<br />
						</div>
					</div>
				</div>
				<!--#end 一个记录-->
				<!--一个记录-->
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#joinUsAccordion" href="#joinUs_2">190 类技术移民 
							<span class="fright"><i class="icon-chevron-right"></i></span>
						</a>
					</div>
					<div id="joinUs_2" class="accordion-body collapse">
						<div class="accordion-inner lh25">
							1.职业在职业清单上，并通过职业评估；<br />
							2.过去2年要有1年的工作经验（或在澳洲学习2年以上，在半年内递交可以豁免工作经验）；<br />
							3.IELTS每门6分；<br />
							4.年龄在50岁以下；<br />
							5.中专/职高以上学历。<br />
							6.评分达到60分<br />
							7.需要州政府担保或亲属担保<br />
							*州担保要求：职业为各州紧缺职业，有州政府提名担保。目前可以申请南澳洲、维州、首都领地、塔斯马尼亚州担保（加5分）。
						</div>
					</div>
				</div>
				<!--#end 一个记录-->
			</div>
		</div>
	</div>
