	<div class="row-fluid">
		<ul class="nav nav-tabs">
			<li><a href="{{ url:site uri='news/employer' }}">雇主移民</a></li>
            <li class="active"><a href="{{ url:site uri='news' }}">投资移民</a></li>
			<li><a href="{{ url:site uri='news/technology' }}">技术移民</a></li>
			<li><a href="{{ url:site uri='news/family' }}">家庭移民</a></li>
			<li><a href="{{ url:site uri='news/other' }}">其他移民</a></li>
		</ul>
		<div class="span12 page_box">
			<h2 class="blue">澳洲投资移民 132 移民新动向 </h2>
			<h5>
				<i class="icon-calendar"></i> 
				07-14 2013 
				<a href="javascript:history.go(-1);" class="fright">&lt; 返回</a>
			</h5>
			<hr />
			<p class="lh25">
				全球知名化妆品牌Lancôme兰蔻，盛邀CBC游艇荟会员齐聚其位于墨尔本品牌专柜，一起感受兰蔻顶级黑玫瑰与巴卡拉黑水晶碰撞出来奇迹－－黑晶珍藏版兰蔻黑金臻宠面霜（Absolue L'Extrait Black Crystal Light Edition)。<br>
				<br>现场轻柔的法式音乐，盛开的兰蔻玫瑰，精心准备的香槟加上点心，还有可爱的法国Macaron，一切让CBC会员感受到了玫瑰的力量和兰蔻品牌的魅力。维多利亚和塔斯马尼亚区总经理Jane Newman为我们详细介绍了这款臻品面霜，并让CBC会员用兰蔻独创的干细胞导入棒，在冷热交替的导入方式中体会到了黑金臻宠面霜无与伦比的臻奢质地和曼妙的馨香。接着现场还贴心的安排了中文的美容，为大家讲解并现场让CBC会体验了黑金臻宠面霜美容。最后，每个会员还获得兰蔻为此次活动所准备的小礼物，似乎有几个已经准备开始订购。<br><br>这款顶级面霜在澳洲只有限量25瓶，每瓶售价A$1500，7月7日开始在澳洲以下指定柜台开售。<br>

				<img alt="" class="pyro-image alignment-none" src="http://dh2gv56a71ghf.cloudfront.net/party/1373354821.55675c7a40915106dd8a96df48d83fdd.jpg" style="height: 600px; width: 600px;"><img alt="" class="pyro-image alignment-none" src="http://dh2gv56a71ghf.cloudfront.net/party/1373354844.9d01e03b48858cb52a9719ece314520e.jpg" style="line-height: 1.6em; height: 600px; width: 600px;"><br><br>2012年，Lancôme兰蔻以植物干细胞领域科学研究所取得的成就为灵感之源，研发出了Lancôme兰蔻最奢华的面霜，黑金臻宠面霜。这款功效卓越的顶级面霜每一瓶中含有200万个臻稀Lancôme兰蔻玫瑰源细胞，是科技与自然创新融合的强大展现，带来令人难忘的宜人感受和举世无双的肌肤新生效果。 1973年，在法国闻名遐迩的Georges Delbard玫瑰培植园，一处孕育了世间众多绝美玫瑰，享誉全球的名卉圣殿，缔造出了举世臻罕的Lancôme兰蔻专属玫瑰。运用全球尖端生物萃取技术，深潜入玫瑰之心，凝聚无与伦比的再生力量——Lancôme兰蔻玫瑰源细胞焕颜活能。Lancôme兰蔻全球研发中心独创 Fermogenesis™专利技术，为每个细胞提供极致优越的生态环境，缔造出至臻纯净、超凡鲜活、饱满、完整的卓效永恒新活能量。历经数周，极富盛名的生物学家在恒温培萃箱中精心细作，凝聚所有珍稀玫瑰生命力的精华，创造出至臻纯净、超凡鲜活、饱满、完整的珍贵源细胞。层层深透的赋养力量，直达肌肤深层，激活肌肤无尽再生潜能。今时今日，至臻完整的肌肤新生奢望再无极限。
			</p>

			<p>&nbsp;</p><p><a href="javascript:history.go(-1);">&lt; 返回</a></p><br class="clearall" />
		</div>
	</div>
