	<div class="row-fluid">
		<ul class="nav nav-tabs">
			<li><a href="{{ url:site uri='news/employer' }}">雇主移民</a></li>
            <li class="active"><a href="{{ url:site uri='news' }}">投资移民</a></li>
			<li><a href="{{ url:site uri='news/technology' }}">技术移民</a></li>
			<li><a href="{{ url:site uri='news/family' }}">家庭移民</a></li>
			<li><a href="{{ url:site uri='news/other' }}">其他移民</a></li>
		</ul>
		<div class="span12 page_box">
			<ul class="newslist">
				<li>
                <a href="{{ url:site uri='news/news_detail' }}">
						澳洲投资移民 132 移民新动向 
						<span class="fright"><i class="icon-calendar"></i> 07-14 2013</span>
					</a>
				</li>
				<li>
					<a href="{{ url:site uri='news/news_detail' }}">
						澳洲投资移民 132 移民新动向 
						<span class="fright"><i class="icon-calendar"></i> 07-14 2013</span>
					</a>
				</li>
				<li>
					<a href="{{ url:site uri='news/news_detail' }}">
						澳洲投资移民 132 移民新动向 
						<span class="fright"><i class="icon-calendar"></i> 07-14 2013</span>
					</a>
				</li>
				<li>
					<a href="{{ url:site uri='news/news_detail' }}">
						澳洲投资移民 132 移民新动向 
						<span class="fright"><i class="icon-calendar"></i> 07-14 2013</span>
					</a>
				</li>
				<li>
					<a href="{{ url:site uri='news/news_detail' }}">
						澳洲投资移民 132 移民新动向 
						<span class="fright"><i class="icon-calendar"></i> 07-14 2013</span>
					</a>
				</li>
			</ul>
			<div class="pagination fright">
				<ul>
					<li><a href="#">Prev</a></li>
					<li><a href="#">1</a></li>
					<li class="active"><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#">Next</a></li>
				</ul>
			</div>
			<br class="clearall" />
		</div>
	</div>
