	<div class="row-fluid">
		<ul class="nav nav-tabs">
            <li class="active"><a href="{{ url:site uri='family' }}">家庭移民</a></li>
			<li><a href="{{ url:site uri='family/family_cases' }}">成功案例</a></li>
			<li><a href="{{ url:site uri='family/family_news' }}">相关资讯</a></li>
			<li><a href="{{ url:site uri='family/family_form' }}">免费评估</a></li>
		</ul>
		<div class="span12">
			<div class="span6">
				<div class="home_cell">
					<h3 class="blue">家庭移民</h3>
					<p>澳大利亚的家庭团聚类移民, 澳大利亚将亲属移民分为免除计分考核的亲属移民和须经计分考核的亲属移民的两种。 免除计分考核的直系亲属移民包括：</p>
					<p>
						1. 澳大利亚公民永久居民的配偶；<br />
						2. 澳大利亚公民与永久居民的达到期退休年龄的父母（男性65岁、女性60岁），多数子女在澳大利亚的父母；<br />
						3. 18岁以下的未成年子女、21岁以下的未婚子女。
					</p>
					<br />
				</div>
			</div>
			<div class="span6">
					<h3 class="blue">&nbsp;</h3>
					<img src="http://t3.gstatic.com/images?q=tbn:ANd9GcSDWdoWi8naIa3LNAP7tjySe_F6cq4aMYzUZFISvuaI9EtO_oaL" class="picinfo" />
			</div>
			<br class="clearall" /><br />
		</div>
		<div class="span12 page_box">
			<div class="accordion" id="joinUsAccordion">
				<!--一个记录-->
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#joinUsAccordion" href="#joinUs_1">配偶签证
							<span class="fright"><i class="icon-chevron-right"></i></span>
						</a>
					</div>
					<div id="joinUs_1" class="accordion-body collapse">
						<div class="accordion-inner lh25">
							（1）300-未婚夫妇签证。9个月有效，在澳洲结婚后可转临时配偶签证。<br />
							（2）309-临时配偶签证。2年有效。2年后如婚姻依然存在，可以转100/801绿卡。<br />
							（3）100-配偶绿卡。结婚5年以上或结婚2年以上有孩子。一般不要经济担保，但签证官有权要求<br />
							要经济担保（Assurance of Support）。配偶其他未独立子女可以一起申请。(必须要亲生父母同意)
						</div>
					</div>
				</div>
				<!--#end 一个记录-->
				<!--一个记录-->
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#joinUsAccordion" href="#joinUs_2">小孩签证 
							<span class="fright"><i class="icon-chevron-right"></i></span>
						</a>
					</div>
					<div id="joinUs_2" class="accordion-body collapse">
						<div class="accordion-inner lh25">
							小孩签证：（父母一方是澳洲绿卡或公民）<br />
							101-小孩绿卡。孩子必须未婚，25岁以下。如18-25岁，必须全日制在读。
						</div>
					</div>
				</div>
				<!--#end 一个记录-->
			</div>
		</div>
	</div>
