<!--左侧的菜单-->
<div class="left_menu">
	<div class="logo">{{ theme:image file="white_logo.png" alt="锐智移民及生意代理集团" width="202" height="40" }}</div>
    <div class="top_nav">
		<ul>
			<li><a href="{{ url:site uri='home' }}"><i class="icon-home"></i><h5>首页</h5></a></li>
			<li><a href="{{ url:site uri='rscg' }}"><i class="icon-group"></i><h5>关于锐智</h5></a></li>
			<li><a href="{{ url:site uri='news' }}"><i class="icon-tasks"></i><h5>最新资讯</h5></a></li>
			<br class="clearall" />
		</ul>
	</div>
	<div class="sub_nav">
        <a href="{{ url:site uri='work' }}"><div></div> 雇主移民</a>
		<a href="{{ url:site uri='business' }}"><div></div> 投资移民</a>
		<a href="{{ url:site uri='skill' }}"><div></div> 技术移民</a>
		<a href="{{ url:site uri='family' }}"><div></div> 家庭移民</a>
		<a href="{{ url:site uri='other' }}"><div></div> 其他移民</a>
	</div>
	<div class="footer">
		{{ theme:image file="single_logo.png" width="16" }}  锐智 · 服务为本，态度优先，专业取胜
	</div>
</div>
<!--#end 左侧的菜单-->
